.table-container {
    text-align: center;
    margin-left: 40px;
    margin-top: 20px;
}

table {
    border: .5px solid gray;
    -webkit-box-shadow: 5px 5px 15px -3px #000000;
    box-shadow: 5px 5px 15px -3px #000000;
}

table thead,
th {
    background-color: #000000;
    color: white;
}

table th {
    padding: 10px;
    font-size: large;
}

table td {
    font-size: large;
    text-align: center;
    padding: 10px;
}